PORT=4000
MONGODB_URI=mongodb://localhost:27017/easyshop
JWT_SECRET=eyJhbGciOiJIUzI1NiJ9.eyJSb2xlIjoiQWRtaW4iLCJJc3N1ZXIiOiJJc3N1ZXIiLCJVc2VybmFtZSI6IkphdmFJblVzZSIsImV4cCI6MTczNzAwMzQ1MCwiaWF0IjoxNzM3MDAzNDUwfQ.zQZPWfJHpoW4lwQZBtUIiPmqhYt_1L-Y5f7TwfP7mjE

NODE_ENV=development

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=easyshop
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Stripe Configuration
STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret

# Email Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USERNAME=your_email_username
EMAIL_PASSWORD=your_email_password
EMAIL_FROM_NAME=your_email_from_name
EMAIL_FROM_ADDRESS=your_email_from_address

# Frontend URL
FRONTEND_URL=http://localhost:3000